<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>作者信息</title>
<link rel="stylesheet" type="text/css" href="/site_media/common.css" />

<script language="JavaScript" type="text/javascript"
	src="/site_media/jquery.js"></script>

<script type="text/javascript" language="JavaScript">
	$(function(){
		
		$(".author_name").bind('mouseover',function(){
			$(this).attr('title','查看更多');
		})
		
		$(".author_name").bind("click",function(){
			
			
			var id=$(this).attr('id')
			var $obj = $(this);
			$.ajax({
				
				type:"POST",
				url:"/importnewstat/author/"+id,
				data:"",
				success:function(data){
					
					var html = '<p>简介：'+data.descirption+"</p>曾发表过的文章：<br>"
					var arr =  eval(data.articles);
					
					var length = arr.length
					
					if(length>0){
						html+="<ul>"
					}
					
					for(i=0;i<length;i++){
						html+="<li><a href='"+arr[i].fields.link+"' target='blank'>"+arr[i].fields.title+"</a>"+arr[i].fields.addTime+"</li>";
					}
					html += '</ul>';
					
					var details = $obj.parent().children().last();
					
					details.html(html);
					details.toggle(function(){
						details.html(html);
					})
				}
				
			});
			
		});
	});
		

</script>

</head>
<body>
	<div class="dashboard">
		个人信息
		<ul class="authorlist">
			{% for author in authors %}
			<li>
				<div class="author">
					<a class="author_name" id="{{author.id}}"> {{author}} </a> <br>
					<br><br>
					<!--  -->
					weibo：<a href="{{author.weibo}}" target="blank">{{author.weibo}}</a>
					<br>主页：<a href="{{author.link}}" target='blank'>{{author.link}}</a>
					<br> email：{{author.email}}<br> qq：{{author.qq}}<br>
					<div class="details" style="display: none"></div>
				</div>
			</li> {% endfor %}
		</ul>
	</div>
</body>
</html>