<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<body>
	<h2>{{year}}年{{month}}月</h2>
	
	{% if articleStat %}
		<ul>
			{% for author, articles in articleStat %}
			<li><a href="/importnewstat/author/{{author.id}}">
			 {% if author.isPayAuthor %}
			 	 <img src="/site_media/pay.gif" /> {{author}}
			 {% else %}
			 	 {{author}}
			 {% endif %}
			</a>
				<ul>
					{% for article in articles %}
					<li><a href="{{article.link}}" target="blank">
							{{article.title}} </a> 
							{% if article.duration == 2 %} ★ {% endif %}</li> 
							{% endfor %}
				</ul> 总共：{{articles|length}}篇
				<hr></li> 
			{% endfor %}
	
		</ul>
	{% else %}
		无记录 <br>
	{% endif %}
</body>
</html>