<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Statatics</title>
</head>
<body>
			<h4>{{year}}年{{month}}月</h4>
	<ul>
		{% for author,articles in articleStat.items %}
			<li>
			<a href="/importnewstat/author/{{author.id}}">{{author}}</a>
				<ul>
					{% for article in articles %}
						<li>
							<a href="{{article.link}}" target="blank">
							{{article.title}}
							</a>
							{% if article.duration == 2 %}
								★
							{% endif %}
						</li>
					{% endfor %}
				</ul>
				总共：{{articles|length}}篇
				<hr>
			</li>
		{% endfor %}
	
	</ul>
	
<a href="/importnewstat/stat/date/{{pre_month}}">上月</a>
	 &nbsp&nbsp&nbsp&nbsp
<a href="/importnewstat/stat/date/{{current_month}}">当前</a>
	 &nbsp&nbsp&nbsp&nbsp
<a href="/importnewstat/stat/date/{{next_month}}">下月</a>
	
	
	
	
	
	
</body>
</html>